nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 60px;
  background-color: var(--colors-white);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  column-gap: 100px;

  .logo {
    display: flex;
    align-items: center;
    column-gap: 8px;

    svg {
      width: 42px;
      height: 48px;
    }

    span {
      font-size: calc(1rem * 28 / 16);
      color: var(--colors-primary-700);
      font-weight: bold;
    }
  }

  .links {
    display: flex;
    align-items: center;
    column-gap: 60px;

    a {
      font-weight: 500;
      font-size: calc(1rem * 20 / 16);
      color: var(--colors-primary-700);
    }
  }

  .active {
    text-decoration: underline;
  }

  form {
    button {
      font-weight: 500;
      font-size: calc(1rem * 20 / 16);
      color: var(--colors-primary-700);
    }
  }

  #navigation-portal {
    display: flex;
    align-items: center;
    column-gap: 60px;
    width: 100%;

    .portal-board-name-input {
      font-size: calc(1rem * 20 / 16);
      font-weight: 500;
      color: var(--colors-primary-700);
      padding: 6px 8px;
      border: 2px solid var(--colors-primary-400);
      border-radius: 2px;
      width: 290px;
    }

    .portal-board-link {
      background-color: var(--colors-primary-200);
      border-radius: 14px;
      padding: 10px;
      border: 2px solid var(--colors-primary-700);
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
      display: flex;
      align-items: center;
      column-gap: 6px;

      span {
        color: var(--colors-primary-700);
        font-weight: 500;
      }

      svg {
        width: 18px;
        path {
          fill: var(--colors-primary-700);
        }
      }
    }

    .portal-board-share-link {
      margin-left: auto;
    }
  }
}
