main {
  /* main styles */
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0px;
  position: relative;

  div {
    /* wrapper styles */
    /* This is the width of each list item + the gap between them */
    /* 5 list items will have 4 columns between them in total */
    width: calc(200px * 5 + 20px * 4);
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    h1 {
      font-weight: 700;
      font-size: calc(1rem * 24 / 16);
      color: var(--colors-primary-700);
    }

    ul {
      /* list styles */
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      list-style: none;
      padding-bottom: 50px;

      li {
        a {
          display: flex;
          flex-direction: column;
          row-gap: 8px;
          padding: 10px;
          border: 2px solid var(--colors-primary-400);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
          transition: all 0.1s;
          width: 200px;

          &:hover {
            transform: translateY(-3px);
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
          }

          .name {
            font-weight: 500;
            font-size: calc(1rem * 18 / 16);
            color: var(--colors-primary-700);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .date {
            color: var(--colors-primary-400);
            font-size: calc(1rem * 14 / 16);
            font-weight: 400;
          }
        }
      }
    }
  }

  form {
    position: fixed;
    bottom: 35px;
    right: 35px;
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 60px;
      height: 60px;
      border-radius: 1000px;
      background-color: var(--colors-white);
      border: 3px solid var(--colors-primary-700);
      box-shadow:
        0px 2px 2px rgba(0, 0, 0, 0.5),
        0px 4px 4px rgba(0, 0, 0, 0.2),
        0px 8px 8px rgba(0, 0, 0, 0.1);

      svg {
        width: 28px;
        path {
          fill: var(--colors-primary-700);
        }
      }
    }
  }
}
